/* app/globals.css */
@import "tailwindcss";

@layer utilities {
  /* Ẩn scrollbar cho Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Ẩn scrollbar cho IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  /* Light Theme */
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: #2563eb;
  --color-secondary: #475569;
  --color-accent: #06b6d4;
  --color-divider: #e5e7eb;
  --color-muted: #f8fafc;
  --color-mail-hover: #f3f4f6;
}

[data-theme="dark"] {
  /* Dark Theme */
  --color-background: #0a0a0a;
  --color-foreground: #fafafa;
  --color-primary: #3b82f6;
  --color-secondary: #64748b;
  --color-accent: #22d3ee;
  --color-divider: #97b1e0;
  --color-muted: #1f2937;
  --color-mail-hover: #111827;
}

@theme inline {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-divider: var(--color-divider);
  --color-muted: var(--color-muted);
  --color-mail-hover: var(--color-mail-hover);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
